/* style.css */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #111;
    color: #eee;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #0f0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #000;
    border-bottom: 2px dashed #0f0;
}

nav a {
    color: #0f0;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

nav a:hover {
    background-color: #0f0;
    color: #000;
    transition: 0.3s;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #1a1a1a;
    border: 2px dashed #0f0;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #0f0;
}

button {
    background-color: #0f0;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
}

button:hover {
    background-color: #00aa00;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #0f0;
    border-radius: 3px;
    background-color: #111;
    color: #0f0;
}
